<!DOCTYPE html>
<html>
<head>
    <title>Task List</title>
</head>
<body>
    <h1>Task List for Project: {{ project.name }}</h1>
    <a href="{% url 'task_create' project_pk=project.pk %}">Create New Task</a>
    <ul>
        {% for task in tasks %}
            <li>
                <a href="{% url 'task_detail' project_pk=project.pk task_pk=task.pk %}">{{ task.name }}</a>
                <a href="{% url 'task_update' project_pk=project.pk task_pk=task.pk %}">Edit</a>
                <a href="{% url 'task_delete' project_pk=project.pk task_pk=task.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'project_detail' pk=project.pk %}">Back to Project Detail</a>
</body>
</html>
